:root {
    --white: #FFFFFF;
    --bright_green: #98E22B;
    --pink: #F92472;
    --black: #1C1D19;
    --grey: #282923;
    --light_grey: #7E7E7B;
    --light_grey-50: #7E7E7B80; 
    --hh: #454545;
    --grey2: #626262;
}